* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "zero";
    src: url(../font/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: "one";
    src: url(../font/Lato-Regular.ttf);
}

@keyframes text {
    0% {
        color: rgb(0, 0, 0);
        margin-left: -10px;
    }
}

@keyframes yek {
    0% {
        color: rgb(0, 0, 0);
        margin-top: 5px;
    }
}

main {
    overflow: hidden;

    >.part1 {

        background-image: url(../img/avadabarbers-homepage-hero-bg.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        >header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;

            >img {
                padding-bottom: 30px;
                width: 200px;
                height: 200px;
            }

            >span {
                display: flex;
                gap: 10px;
                cursor: pointer;

                >svg {
                    width: 30px;
                    height: 30px;

                    &:nth-of-type(1) {
                        color: aliceblue;
                        transition: .5s;

                        &:hover {
                            color: rgb(190 147 89);
                        }
                    }

                    &:nth-of-type(2) {
                        color: rgb(190 147 89);
                    }
                }

            }
        }

        >section {
            display: flex;
            justify-content: space-around;
            align-items: center;

            >div {
                &:nth-of-type(1) {
                    animation: text 1s 1;
                    margin-bottom: 150px;
                    margin-left: 350px;

                    >h2 {
                        font-size: 100px;
                        font-family: "zero";
                        color: aliceblue;
                        font-weight: normal;
                    }

                    >div {
                        width: 50%;
                        height: 5px;
                        background-color: rgb(190 147 89);
                    }

                    >p {
                        margin-top: 50px;
                        color: #686562;
                        font-size: 25px;
                        font-family: "one";
                    }

                    >button {
                        cursor: pointer;
                        color: rgb(190 147 89);
                        background-color: rgb(190 147 89 / 0%);
                        margin-top: 50px;
                        padding: 10px;
                        width: 200px;
                        height: 60px;
                        border: solid 2px rgb(190 147 89);
                        font-size: 17px;
                        font-family: "one";
                        transition: .5s;

                        &:hover {
                            color: rgb(168, 114, 42);
                        }
                    }


                }

                &:nth-of-type(2) {
                    >img {
                        width: 600px;
                        height: 800px;
                        margin-right: 150px;


                    }

                }
            }
        }
    }

    >.part2 {

        background-image: url(../img/avadabarbers-about-introbackground.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50vh;

        >p {
            color: rgb(190 147 89);
            font-family: "one";
        }

        >h3 {
            color: rgb(176 176 176);
            font-family: "zero";
            font-weight: normal;
            font-size: 80px;
        }

        >button {
            cursor: pointer;
            color: rgb(190 147 89);
            background-color: rgb(190 147 89 / 0%);
            margin-top: 50px;
            padding: 10px;
            width: 300px;
            height: 60px;
            border: solid 2px rgb(190 147 89);
            font-size: 17px;
            font-family: "one";
            transition: .5s;

            &:hover {
                color: rgb(168, 114, 42);
            }
        }
    }

    >.part3 {

        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 50px;

                >p {
                    color: rgb(190 147 89);
                    font-size: 16px;
                    font-family: "one";
                }

                >h3 {
                    color: rgb(176 176 176);
                    font-family: "zero";
                    font-size: 70px;
                    font-weight: normal;
                }
            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-top: 70px;

                >span {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    >h3 {
                        color: rgb(190 147 89);
                        font-size: 30px;
                        font-family: "zero";
                        font-weight: normal;
                        margin-bottom: 40px;
                        animation: yek 2s 1;
                        cursor: pointer;
                    }

                    >img {
                        width: 90px;
                        height: 120px;
                        margin-bottom: 30px;
                        animation: yek 2s 1;
                        cursor: pointer;
                    }

                    >span {
                        >p {

                            width: 300px;
                            height: 300px;
                            color: #68687a;
                            line-height: 30px;
                            font-size: 20px;
                            font-family: "one";
                            animation: yek 2s 1;
                        }
                    }
                }
            }

            &:nth-of-type(3) {

                >button {
                    color: rgb(190 147 89);
                    background-color: rgb(190 147 89 / 0%);
                    cursor: pointer;
                    padding: 10px;
                    width: 370px;
                    height: 60px;
                    border: solid 2px rgb(190 147 89);
                    font-size: 20px;
                    font-family: "one";
                    font-weight: bold;
                    transition: .5s;
                    &:hover {
                        color: rgb(168, 114, 42);
                    }
                }
            }
        }
    }

    >.part4 {

        background-image: url(../img/wave\ \(6\).svg);
        width: 100%;
        height: 30vh;
        background-repeat: no-repeat;
        background-size: cover;
        

    }

    >.part5 {

        background-image: url(../img/avadabarbers-reviewsbackground.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 110vh;
        cursor: pointer;

        >div {
            &:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 100px;

                >p {
                    color: rgb(190 147 89);
                    font-family: "one";
                }

                >h3 {
                    color: rgb(176 176 176);
                    font-family: "zero";
                    font-size: 70px;
                    font-weight: normal;
                }
            }

            &:nth-of-type(2) {

                display: flex;
                justify-content: center;
                align-items: center;

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    >img {
                        width: 400px;
                        margin-top: 50px;
                        cursor: pointer;
                    }

                    >h3 {
                        color: rgb(190 147 89);
                        font-family: "zero";
                        font-size: 35px;
                        font-weight: normal;
                    }

                    >p {
                        color: rgb(190 147 89);
                        font-family: "one";
                    }

                }
            }

            &:nth-of-type(3) {

                display: flex;
                justify-content: center;
                align-items: center;

                >button {
                    color: rgb(176 176 176);
                    background-color: rgb(190 147 89 / 0%);
                    margin-top: 70px;
                    padding: 10px;
                    width: 350px;
                    height: 60px;
                    border: solid 2px rgb(176 176 176);
                    font-size: 17px;
                    font-family: "one";
                    transition: .5s;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover {
                        color: rgb(168, 114, 42);
                        border: solid 2px rgb(168, 114, 42);

                    }
                }
            }
        }
    }

    >.part6 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50px;

        >div {


            &:nth-of-type(1) {

                border-top: 5px solid rgb(190 147 89);
                background-image: url(../img/avadabarbers-cta-background.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 450px;
                height: 450px;


            }

            &:nth-of-type(2) {

                border-top: 5px solid rgb(190 147 89);
                padding: 60px;
                background-color: black;
                width: 700px;
                height: 450px;

                >h4 {
                    color: rgb(190 147 89);
                    font-family: "one";
                    font-weight: normal;

                }

                >h3 {
                    color: rgb(176 176 176);
                    font-family: "zero";
                    font-size: 70px;
                    font-weight: normal;
                }

                >p {
                    color: rgba(176, 176, 176, 0.596);
                    font-family: "one";
                    font-size: 17px;
                    margin-top: 30px;
                    line-height: 30px;

                }

                >button {

                    color: rgb(190 147 89);
                    background-color: rgb(190 147 89 / 0%);
                    margin-top: 50px;
                    padding: 10px;
                    width: 150px;
                    height: 60px;
                    border: solid 2px rgb(190 147 89);
                    font-size: 17px;
                    font-family: "one";
                    transition: .5s;
                    cursor: pointer;

                    &:hover {
                        color: rgb(168, 114, 42);
                    }
                }
            }
        }
    }

    >.part7 {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;

        >div {
            &:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                >p {
                    color: rgb(190 147 89);
                    font-family: "one";
                    font-weight: normal;
                    font-size: 15px;
                    letter-spacing: 2px;
                }

                >h2 {
                    color: rgb(176 176 176);
                    font-family: "zero";
                    font-weight: normal;
                    font-size: 70px;
                }
            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 220px;
                margin-top: 50px;

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    >p {
                        text-align: center;
                        color: #68687a;
                        font-size: 17px;
                        width: 240px;
                        font-family: "one";
                        word-spacing: 5px;
                        line-height: 27px;
                    }

                    >img {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        margin-top: 30px;
                    }

                    >h3 {
                        color: rgb(190 147 89);
                        font-family: "one";
                        margin-top: 20px;
                        
                    }
                }
            }
        }

    }

    >.part8 {

        background-image: url(../img/wave\ \(4\).svg);
        width: 100%;
        height: 30vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    >.part9 {

        background-color: rgb(245 245 245);
        width: 100%;
        height: 90vh;


        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                >p {
                    color: rgb(190 147 89);
                    font-size: 16px;
                    font-family: "one";
                    font-weight: normal;
                    letter-spacing: 2px;
                }

                >h3 {
                    color: rgb(176 176 176);
                    font-family: "zero";
                    font-size: 70px;
                    font-weight: normal;
                }
            }

            &:nth-of-type(2) {

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-right: 30px;
                    >img {
                        margin-top: 50px;
                        width: 370px;
                        height: 250px;
                        cursor: pointer;
                    }

                    >h3 {
                        color: rgb(190 147 89);
                        font-size: 30px;
                        font-family: "zro";
                        cursor: pointer;
                        &:nth-of-type(1) {
                            margin-top: 30px;
                        }
                    }

                    >div {
                        width: 40%;
                        height: 1px;
                        background-color: #68687a38;

                        &:nth-of-type(1) {
                            margin-top: 20px;
                        }
                    }

                    >h5 {
                        color: #68687a;
                        font-family: "one";
                        font-weight: normal;
                        padding: 8px;
                        font-size: 11px;
                    }

                    >p {
                        width: 300px;
                        text-align: center;
                        margin-top: 30px;
                        font-size: 17px;
                        color: #68687a;
                        font-family: "one";
                        line-height: 27px;
                    }
                }
            }

            &:nth-of-type(3) {
                >button {
                    color: rgb(190 147 89);
                    background-color: rgb(190 147 89 / 0%);
                    margin-top: 70px;
                    padding: 10px;
                    width: 350px;
                    height: 60px;
                    border: solid 2px rgb(190 147 89);
                    font-size: 17px;
                    font-family: "one";
                    transition: .5s;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover {
                        color: rgb(168, 114, 42);
                        border: solid 2px rgb(168, 114, 42);

                    }
                }
            }
        }

    }

    >footer {

        background-color: #0f0f0f;
        width: 100%;
        height: 60vh;
        
        >div {
            &:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    width: 220px;
                    margin-top: 50px;

                }

            }

            &:nth-of-type(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 150px;

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    &:nth-of-type(1) {
                        >button {
                            color: rgb(190 147 89);
                            background-color: rgb(190 147 89 / 0%);
                            cursor: pointer;
                            padding: 10px;
                            width: 250px;
                            height: 50px;
                            border: solid 2px rgb(190 147 89);
                            font-size: 15px;
                            font-family: "one";
                            transition: .5s;

                            &:hover {
                                color: rgb(168, 114, 42);
                            }
                        }
                    }

                    &:nth-of-type(2) {

                        >P {

                            color: #686868;
                            font-family: "one";
                            line-height: 27px;

                            &:nth-of-type(1) {
                                margin-top: 50px;
                            }

                        }

                        >div {
                            cursor: pointer;

                            >h3 {

                                color: rgb(190 147 89);
                                font-family: "one";
                                font-size: 15px;
                                font-weight: normal;
                                padding-top: 130px;

                            }

                            >span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: row;
                                margin-top: 30px;
                                gap: 15px;

                                >svg {
                                    color: #686868;
                                    transition: .5s;

                                    &:hover {
                                        color: #535353;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(3) {

                        >button {
                            cursor: pointer;
                            color: rgb(190 147 89);
                            background-color: rgb(190 147 89 / 0%);
                            padding: 10px;
                            width: 250px;
                            height: 50px;
                            border: solid 2px rgb(190 147 89);
                            font-size: 15px;
                            font-family: "one";
                            transition: .5s;

                            &:hover {
                                color: rgb(168, 114, 42);
                            }
                        }
                    }

                }
            }

           
        }
    }
    >.part10{
         
            width: 100%;
            height: 10vh;
                background-color: #353434;
                
                color: #686868;
                font-family: "one";
                display: flex;
                justify-content: center;
                padding-top: 40px;

                >p {
                    margin-bottom: 50px;
                    &:nth-of-type(2) {
                        color: rgb(190 147 89);
                        font-size: 17px;
                        font-family: "one";
                        margin-left: 7px;
                        font-weight: bold;
                    }
                }
            
    }
}